<template>
  <div class="nodes-view-container">
    <div class="row">
      <div class="col-md-3">  
        <b-form @submit.prevent="handleSubmit">
          <input type="radio" v-on:click="show_form_select" id="graph" value="Graph" v-model="selected">
          <label for="graph">Graph</label>

          <input type="radio" v-on:click="hide_form_select" id="table" value="Table" v-model="selected" checked="checked">
          <label for="table">Table</label> 
          <br>      
            <b-form-group id="exampleInputGroup2" label="Node Name:" label-for="exampleInput2">
            <b-form-input
              id="exampleInput2"
              type="text"
              v-model="formData.nodeName"
              required
              placeholder="enter the label: ex 'Book' " />
          </b-form-group>
          
          <b-form-group id="exampleInputGroup2" label="Filter:" label-for="exampleInput2">
            <b-form-input
              id="exampleInput2"
              type="text"
              v-model="formData.filter"
              placeholder="enter the filter to display graph: ex:'price>10ANDprice<20' or 'price>10,price<20' " />
          </b-form-group>

          <b-form-group id="form" v-show="preview" label="Format:" label-for="exampleInput3">
            <b-form-select id="exampleInput3" :options="['','json','gml', 'graphml','gexf','pajek']" v-model="formData.format" />
          </b-form-group>
          
          <b-form-group id="exampleInputGroup2" label="Limit of Rows:" label-for="exampleInput2">
            <b-form-input
              id="exampleInput2"
              type="number"
              v-model="formData.limit"
              placeholder="enter the number of rows to display" />
          </b-form-group>

          <b-button type="submit" variant="primary">
             <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" v-show="preview_spinner"></span>
             Show</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
          <br>
          <b-button v-on:click="download" v-show="preview_download">Download</b-button>
        </b-form>
      </div>
      <div class="col-md-9">
        <div class="spinner-grow text-primary" role="status" style="width: 3rem; height: 3rem;" v-show="preview_spinner"></div>
        <div class="spinner-grow text-secondary" role="status" style="width: 3rem; height: 3rem;" v-show="preview_spinner"></div>
        <div class="spinner-grow text-success" role="status" style="width: 3rem; height: 3rem;" v-show="preview_spinner"></div>
        <div class="spinner-grow text-danger" role="status" style="width: 3rem; height: 3rem;" v-show="preview_spinner"></div>
        <div class="spinner-grow text-warning" role="status" style="width: 3rem; height: 3rem;" v-show="preview_spinner"></div>
        <div class="spinner-grow text-info" role="status" style="width: 3rem; height: 3rem;" v-show="preview_spinner"></div>
        <div class="spinner-grow text-light" role="status" style="width: 3rem; height: 3rem;" v-show="preview_spinner"></div>
        <div class="spinner-grow text-dark" role="status" style="width: 3rem; height: 3rem;" v-show="preview_spinner"></div>
        <br>
        <span class="sr-only" v-show="preview_spinner">Loading...</span> 
        <br>
        <div id="pdf">
          <table  class="table table-bordered" v-show="preview_table">
          <thead>
            <tr>
              <th scope="col">nodes</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="n in nodes_" v-bind:key="n">
              <td>{{ n }}</td>
            </tr>
          </tbody>
          </table>
        
          {{this.info}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import jsPDF from 'jspdf'
export default {
  name: 'nodes',
  data() {
    return {
      selected: [], // Must be an array reference!
      options: [
        { text: 'Graph', value: 'graph' },
        { text: 'table', value: 'table' }
       ],
       preview:false,
       preview_table:false,
       preview_spinner:false,
       preview_download:false,
      nodes_: [],
      info: null,
      formData: {
        nodeName: '',
        filter: '',
        format: '',
        limit:null
      }
    }
  },
  computed: {

  },
  methods: {
    show_form_select: function () {
      this.preview = true;
    },
    hide_form_select: function () {
      this.preview = false;
    },
    download: function(){
      console.log('-----------------------V2----------------')
      console.log('je suis avant new JSPDF')
      var doc =new jsPDF('p', 'pt', 'a4');
      console.log('je suis apres new JSPDF')
          doc.html(document.getElementById('pdf'), {
          callback: function (doc) {
            doc.save('MyResult.pdf');
             console.log('je suis dans la function')
          },
          margin:[2,2,2,2]
        });
      console.log('je fonctionne "Download" ')
    },
    handleSubmit() {
      console.log('je commence ')
      this.info=null
      this.nodes_=null
      this.preview_table=false
      console.log(this.selected)
       console.log(this.formData.limit)
       this.preview_spinner=true
       if(this.formData.limit!= null){
         this.formData.limit=' LIMIT '+this.formData.limit
        console.log('On a changé le limit')
        console.log(this.formData.limit)
       }
        if(this.selected=="Graph"){
          document.getElementById("form").disabled = false;
          console.log(this.formData)
                axios.
               get('http://localhost:90/graph/nodes', { 
                params:
                {labels:this.formData.nodeName,
                filter:this.formData.filter,
                format:this.formData.format,
                limit:this.formData.limit
                } })
                .then(response => {this.info= response.data, this.preview_spinner=false});
                
                console.log('we start here with graph ')
            }else{
              document.getElementById("form").disabled = true;
              console.log(this.formData)
                axios.
                get('http://localhost:90/graph/nodes', { 
                    params:
                    {labels:this.formData.nodeName,
                    filter:this.formData.filter,
                    format:this.formData.format,
                    limit:this.formData.limit
                    } })
                .then(response => {this.nodes_= response.data.nodes, this.preview_spinner=false, this.preview_table=true,this.preview_download=true});
               
                console.log('we start here with table')
          }
          this.formData.limit=null
          console.log('On a changé le limit apres ')
          console.log(this.formData.limit)
          console.log('On commence affichage 215 le graph, 216 links et 217 nodes')
      
          console.log(this.info)
           console.log(this.nodes_)

    }
  }
}

</script>