<template>
  <div class="relation-view-container">
    <div class="row">
      <div class="col-md-3">


        <b-form @submit.prevent="handleSubmit">
          <input type="radio" v-on:click="show_form_select" id="graph" value="Graph" v-model="selected">
          <label for="graph">Graph</label>

          <input type="radio" v-on:click="hide_form_select" id="table" value="Table" v-model="selected">
          <label for="table">Table</label> 
          <br>         
          <b-form-group id="exampleInputGroup2" label="Source Label:" label-for="exampleInput2">
            <b-form-input
              id="exampleInput2"
              type="text"
              v-model="formData.srcLabels"
              required
              placeholder="enter the label: ex 'Book' " />
          </b-form-group>
          
          <b-form-group id="exampleInputGroup2" label="Filter source Label:" label-for="exampleInput2">
            <b-form-input
              id="exampleInput2"
              type="text"
              v-model="formData.srcFilter"
              placeholder="enter the filter label: ex 'I dont now' " />
          </b-form-group>
          
          <b-form-group id="exampleInputGroup2" label="Target Label:" label-for="exampleInput2">
            <b-form-input
              id="exampleInput2"
              type="text"
              v-model="formData.trgLabels"
              required
              placeholder="enter the label: ex 'user' " />
          </b-form-group>
          
          <b-form-group id="exampleInputGroup2" label="Filter target Label:" label-for="exampleInput2">
            <b-form-input
              id="exampleInput2"
              type="text"
              v-model="formData.trgFilter"
              placeholder="enter the filter of label: ex 'I dont now' " />
          </b-form-group>
          
          <b-form-group id="exampleInputGroup2" label="Relation Type:" label-for="exampleInput2">
            <b-form-input
              id="exampleInput2"
              type="text"
              v-model="formData.relTypes"
              placeholder="enter the relation type: ex 'I dont now' " />
          </b-form-group>
          
          <b-form-group id="exampleInputGroup2" label="Filter Relation Type:" label-for="exampleInput2">
            <b-form-input
              id="exampleInput2"
              type="text"
              v-model="formData.relFilter"
              placeholder="enter the relation type: ex 'I dont now' " />
          </b-form-group>
          
          <b-form-group id="exampleInputGroup2" label="Limit of Rows:" label-for="exampleInput2">
            <b-form-input
              id="exampleInput2"
              type="number"
              v-model="formData.limit"
              placeholder="enter the number of rows to display" />
          </b-form-group>

          <b-form-group id="form" v-show="preview" label="Format:" label-for="exampleInput3">
            <b-form-select id="exampleInput3" :options="['','json','gml', 'graphml','gexf','pajek']" v-model="formData.format" />
          </b-form-group>

          <b-button type="submit" variant="primary">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" v-show="preview_spinner"></span>
            Show
          </b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
      </div>
      <div class="col-md-9">

        <div class="spinner-grow text-primary" role="status" style="width: 3rem; height: 3rem;" v-show="preview_spinner"></div>
        <div class="spinner-grow text-secondary" role="status" style="width: 3rem; height: 3rem;" v-show="preview_spinner"></div>
        <div class="spinner-grow text-success" role="status" style="width: 3rem; height: 3rem;" v-show="preview_spinner"></div>
        <div class="spinner-grow text-danger" role="status" style="width: 3rem; height: 3rem;" v-show="preview_spinner"></div>
        <div class="spinner-grow text-warning" role="status" style="width: 3rem; height: 3rem;" v-show="preview_spinner"></div>
        <div class="spinner-grow text-info" role="status" style="width: 3rem; height: 3rem;" v-show="preview_spinner"></div>
        <div class="spinner-grow text-light" role="status" style="width: 3rem; height: 3rem;" v-show="preview_spinner"></div>
        <div class="spinner-grow text-dark" role="status" style="width: 3rem; height: 3rem;" v-show="preview_spinner"></div>
        <br>
        <span class="sr-only" v-show="preview_spinner">Loading...</span> 
        <br>

        <table class="table table-bordered" v-show="preview_table">
          <thead>
            <tr>
              <th scope="col">Source</th>
              <th scope="col">Relation Type</th>
              <th scope="col">Target</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="l in links" v-bind:key="l">
              <td>{{ nodes_[l.source] }}</td>
              <td>{{ l.type }}</td>
              <td>{{ nodes_[l.target] }}</td>
            </tr>
          </tbody>
        </table>
        {{this.info}}
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
//import {getNodesGraph} from '/src/data/getData.js'
export default {
  name: 'relation',
  data() {
    return {
      selected: [], // Must be an array reference!
      options: [
        { text: 'Graph', value: 'graph' },
        { text: 'table', value: 'table' }
       ],
       preview:false,
       preview_table:false,
       preview_spinner:false,
      links:[],
      nodes_:[],
      info: null,
      formData: {
        relTypes:'',
        relFilter:'',
        srcLabels:'',
        srcFilter:'',
        trgLabels:'',
        trgFilter:'',
        format:'',
        limit:null
      }

    }
  },
  computed: {

  },
  methods: {
    show_form_select: function () {
      this.preview = true;
    },
    hide_form_select: function () {
      this.preview = false;
    },
     handleSubmit() {
      this.info=null
      this.nodes_=null
      this.links=null
      this.preview_table=false
       console.log(this.selected)
       console.log(this.formData.limit)
       this.preview_spinner=true
       if(this.formData.limit!= null){
         this.formData.limit=' LIMIT '+this.formData.limit
        console.log('On a changé le limit')
        console.log(this.formData.limit)
       }
        if(this.selected=="Graph"){
          document.getElementById("form").disabled = false;
          console.log(this.formData)
                axios.
                get('http://localhost:90/graph', { params: 
                {
                  rel_types: this.formData.relTypes,
                  rel_filter: this.formData.relFilter,
                  src_labels: this.formData.srcLabels,
                  src_filter: this.formData.srcFilter,
                  trg_labels: this.formData.trgLabels,
                  trg_filter: this.formData.trgFilter,
                  format: this.formData.format,
                  limit:this.formData.limit
                } })
                .then(response => {this.info= response.data, this.preview_spinner=false});
                
                console.log('we start here with graph ')
            }else{
              document.getElementById("form").disabled = true;
              console.log(this.formData)
                axios.
                get('http://localhost:90/graph', { params: 
                {
                  rel_types: this.formData.relTypes,
                  rel_filter: this.formData.relFilter,
                  src_labels: this.formData.srcLabels,
                  src_filter: this.formData.srcFilter,
                  trg_labels: this.formData.trgLabels,
                  trg_filter: this.formData.trgFilter,
                  format: this.formData.format,
                  limit:this.formData.limit
                } })
                .then(response => {this.nodes_= response.data.nodes, this.links=response.data.links, this.preview_spinner=false, this.preview_table=true});
               
                console.log('we start here with table')
          }
          this.formData.limit=null
          console.log('On a changé le limit apres ')
          console.log(this.formData.limit)
          console.log('On commence affichage 215 le graph, 216 links et 217 nodes')
      
          console.log(this.info)
          console.log(this.links)
           console.log(this.nodes_)

}
}}
</script>
